/* El�ments principaux de la page */

.trebuchet {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: white
}

body
{
    background: url('../images/fond-site.jpg');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #FFF;
}

#block-page
{
    width: 900px;
    margin: auto;
    
}

.lol, .lol tr, .lol tr td {
    background-color: transparent !important;
}

.lol tr td {
    color: white;
}

.lol {
    margin-bottom:20px;
}

table
{
    color: #444;
}
a
{
    color: #FF009E;
}

a:hover
{
    color: #FF009E;
}

a:link 
{ 
    text-decoration:none; 
} 

.header
{
    text-align: center;
    
}

fieldset
{
    border-radius: 25px;
    border: solid #FF009E 4px;
}

strong.log
{
    color: #FF009E;
}

.arrondi_image
{
    border-radius: 20px;
}

/*----------------------------------------------HEADER-------------------------------------------------------------*/


#banniere
{
    text-align: center;
   
}


/*-------------------------------------------PAGE FORM_LOGIN--------------------------------------------------------*/


#form_login
{
    text-align: center;
    width: 460px;
    margin: auto;
    border: #FF009E solid 4px;
    border-radius: 25px;
    text-align: center;
    background: url('../images/fond_rdv.jpg'); 
    padding-bottom: 10px;
}

/*--------------------------------------------PAGE ERROR--------------------------------------------------------------*/
#block-error
{
    text-align: center;
    width: 402px;   
    margin: auto;
    border-radius: 25px;
    border: solid #FF009E 4px;
    
}  

/*--------------------------------------------PAGE AJOUTER UN USER----------------------------------------------------*/

#block-ajouter-user
{
    text-align: center;
    width: 460px;
    margin: auto;
    border: #FF009E solid 4px;
    border-radius: 25px;
    text-align: center;
    background: url('../images/fond_rdv.jpg'); 
    padding-bottom: 10px;
}


/*--------------------------------------------------PAGE MENU---------------------------------------------------------*/


.menu_icone
{    
    display: inline-block;
    text-align: center;
   
}

.menu_icone:hover
{    
   opacity: 0.5;
   
}

.cadreImage
{
     border: #FF009E 5px ridge;
     border-radius: 20px;
}

#gestion
{
    margin-left: 50px;
    margin-right: 50px;
}

#body_menu
{
    width: 900px;
    margin: auto;
    text-align: center;
    border: solid #FF009E 4px;
    border-radius: 25px;
    padding-bottom: 50px;
    background: url('../images/fond_rdv.jpg');
}

#deconnexion
{
    margin-top: 20px;
}

ul
{
    padding-top: 65px;
    list-style-type:none;     
    margin: auto;
    text-align: center;
}

li
{
    display: inline-block;    
}

li a
{
    text-decoration:none; 
    
}

.poz1
{
   position: relative;
   right: 128px;
   bottom: 39px;
   font-size: 1.3em;
   font-weight: bold;
   display: inline-block;
   
}

.poz2
{
   position: relative;
   left: 28px;
   bottom: 39px;
   font-size: 1.3em;
   font-weight: bold; 
   display: inline-block;
}

.poz3
{
   position: relative;
   left: -53px;
   bottom: 23px;
   display: inline-block;
}
/*--------------------------------------------------PAGE NEWSLETTER------------------------------------------------------*/

#block-newsletter
{    
    margin: auto;
    border: #FF009E solid 4px;
    width: 460px;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
    background: url('../images/fond_rdv.jpg');
    margin-top: 3px;
    
}

#message 
{
    max-width:100%;
}

.phraseLog
{
    font-size: 1.3em;
}

.alignerDiv1
{
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
}

.alignerDiv2
{
    display: inline-block;
    vertical-align: top;
    font-size: 1.2em;
}

.btn-info 
{
    background: #949494 !important;
    border-color: #FF009E !important;
}

/*--------------------------------------------------PAGE GESTION GROUPE--------------------------------------------------*/ 

#block-page-gestion-groupe
{
    width: 900px;
    margin: auto;
    border: #FF009E solid 4px;
    border-radius: 25px;
    text-align: center;
    background: url('../images/fond_rdv.jpg'); 
}

table
{
  font-size: 0.9em;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}

tr
{
   padding-top: 2px; 
}

tr:nth-child(even)
{
    background: #FFF;
}

tr:nth-child(odd) 
{
    background: #ACE6F2;
}

th
{
    background: #ff99ff;
}

#block_csv, #mail_display
{
    border: #FF009E solid 4px;
    border-radius: 25px;

    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
    text-align: center;
    background: url('../images/3.jpg'); 
}

#block_csv {
    width: 334px;
    padding-left: 10px;
}

#mail_display {
    max-width: 90%;
    padding-left: 10px;
}

.table_histo {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#back
{
    display: inline-block;
    vertical-align: top;
    margin-left: 97px;
    font-size: 1.3em;
}

#block_membre
{
   display: inline-block; 
   vertical-align: top;

}

#block_groupe
{
    display: inline-block; 
    vertical-align: top;
    margin-left: 50px;
    
}

.blockLienAdd
{
   margin-bottom: 10px; 
}

.lienAdd
{
    position: relative;
    top : 5px;
}

/*--------------------------------------------------PAGE AJOUTER UN MEMBRE-----------------------------------------------*/

#block-page-ajouter-membre
{
    text-align: center;
    width: 460px;
    margin: auto;
    border: #FF009E solid 4px;
    border-radius: 25px;
    text-align: center;
    background: url('../images/fond_rdv.jpg'); 
    padding-bottom: 10px;
}

/*--------------------------------------------------PAGE LISTER UN GROUPE------------------------------------------------*/

#lightbox1
{
    padding-bottom:10px;
    text-align: center;
    background: url('../images/fond-site.jpg');
    width: 450px;
    
    
}

/*--------------------------------------------------PAGE FORM AJOUTER GROUPE----------------------------------------------*/

#block-page-form-ajouter-groupe
{
    text-align: center;
    width: 460px;
    margin: auto;
    border: #FF009E solid 4px;
    border-radius: 25px;
    text-align: center;
    background: url('../images/fond_rdv.jpg'); 
    padding-bottom: 10px;
}

.h2style
{
    color: #FF009E;
}
/*--------------------------------------------------PAGE FORM MODIFIER UN GROUPE-------------------------------------------*/

#lightbox2
{
    background: url('../images/fond-site.jpg');
    text-align: center;
    max-width: 600px;
    
}